.navbar-light {
    background-color: #F1F1F1;
}

.addressBook {
    padding-top: 100px;
}

.btn {
    width: 70px;
}

.phoneNumber-input:invalid {
    border: red solid 3px;
}

.phoneNumberError {
    display: none;
    color: red;
}

.address-input-row {
    height: 90px;
}

.addButton {
    background-color: #CE4929;
    color: #F1F1F1;
}

.addressLabelRow {
    background-color: #EF8529;
}

.addressLabel {
    color: #F1F1F1;
}